{% extends 'oopBook/base.html' %}
{% block title %} Задачи {% endblock title %}
{% block content %}
    <div class="alert alert-info" role="alert">
        <h2>Раздел для решения задач</h2>
    </div>

    <div class="card">
      <div class="card-header">
        Задача 1
      </div>
      <div class="card-body">
        <h5 class="card-title">Сравнение вложенных структур</h5>
        <p class="card-text">Завершите функцию/метод (в зависимости от языка), чтобы вернуть true/True, когда ее аргумент является массивом, который имеет те же структуры вложенности и ту же соответствующую длину вложенных массивов, что и первый массив.</p>
        <a href="https://www.codewars.com/kata/520446778469526ec0000001/train/python" class="btn btn-primary">Начать</a>
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-header">
        Задача 2
      </div>
      <div class="card-body">
        <h5 class="card-title">Tic-Tac-Toe Checker</h5>
        <p class="card-text">Если бы нам нужно было настроить игру в крестики-нолики, мы бы хотели знать, решено ли текущее состояние доски, не так ли? Наша цель — создать функцию, которая проверит это за нас!

            Предположим, что доска имеет форму массива 3x3, где значение равно 0, если ячейка пуста, 1, если это «X», или 2, если это «O», например:</p>
        <a href="https://www.codewars.com/kata/525caa5c1bf619d28c000335/train/python" class="btn btn-primary">Начать</a>
      </div>
    </div>


    <div class="card mt-3">
      <div class="card-header">
        Задача 3
      </div>
      <div class="card-body">
        <h5 class="card-title">Суммировать строки как числа</h5>
        <p class="card-text">Учитывая строковые представления двух целых чисел, вернуть строковое представление суммы этих целых чисел.</p>
        <a href="https://www.codewars.com/kata/5324945e2ece5e1f32000370/train/python" class="btn btn-primary">Начать</a>
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-header">
        Задача 4
      </div>
      <div class="card-body">
        <h5 class="card-title">Проверить судоку размером `NxN`</h5>
        <p class="card-text">Имея структуру данных судоку размером NxN, N > 0 и √N == integer, напишите метод для проверки правильности заполнения.

        Структура данных представляет собой многомерный массив, т.е.:</p>
        <a href="https://www.codewars.com/kata/5324945e2ece5e1f32000370/train/python" class="btn btn-primary">Начать</a>
      </div>
    </div>


    <div class="card mt-3">
      <div class="card-header">
        Задача 5
      </div>
      <div class="card-body">
        <h5 class="card-title">Validate Sudoku with size `NxN`</h5>
        <p class="card-text">Имея структуру данных судоку размером NxN, N > 0 и √N == integer, напишите метод для проверки правильности заполнения.

        Структура данных представляет собой многомерный массив, т.е.:</p>
        <a href="https://www.codewars.com/kata/540afbe2dc9f615d5e000425/train/python" class="btn btn-primary">Начать</a>
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-header">
        Задача 6
      </div>
      <div class="card-body">
        <h5 class="card-title">Извлечь доменное имя из URL</h5>
        <p class="card-text">Напишите функцию, которая при задании URL-адреса в виде строки анализирует только доменное имя и возвращает его в виде строки. Например:</p>
        <a href="https://www.codewars.com/kata/514a024011ea4fb54200004b/train/python" class="btn btn-primary">Начать</a>
      </div>
    </div>
{% endblock %}