{% extends 'oopBook/base.html' %}
{% block title %} Тесты {% endblock title %}
{% block content %}
    <div class="alert alert-warning" role="alert">
       <h2>Добро пожаловать в раздел тесты</h2>
    </div>

        <div class="card">
          <div class="card-header">
            Классы и объекты
          </div>
          <div class="card-body">
            <h5 class="card-title">Необходимо выполнить тест</h5>
            <p class="card-text">Тест состоит их 5 вопросов, для закрепления материала</p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeIrSOGL0nEloIFJDobacvPMx26LJQXvwddGAxJvYf16l5C1A/viewform?usp=sharing" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

        <div class="card mt-3">
          <div class="card-header">
            Инкапсуляция
          </div>
          <div class="card-body">
            <h5 class="card-title">Необходимо выполнить тест</h5>
            <p class="card-text">Тест состоит их 5 вопросов, для закрепления материала</p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeIrSOGL0nEloIFJDobacvPMx26LJQXvwddGAxJvYf16l5C1A/viewform?usp=sharing" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

        <div class="card mt-3">
          <div class="card-header">
            Наследование
          </div>
          <div class="card-body">
            <h5 class="card-title">Необходимо выполнить тест</h5>
            <p class="card-text">Тест состоит их 5 вопросов, для закрепления материала</p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeIrSOGL0nEloIFJDobacvPMx26LJQXvwddGAxJvYf16l5C1A/viewform?usp=sharing" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

        <div class="card mt-3">
          <div class="card-header">
            Аттрибуты класса
          </div>
          <div class="card-body">
            <h5 class="card-title">Необходимо выполнить тест</h5>
            <p class="card-text">Тест состоит их 5 вопросов, для закрепления материала</p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeIrSOGL0nEloIFJDobacvPMx26LJQXvwddGAxJvYf16l5C1A/viewform?usp=sharing" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

        <div class="card mt-3">
          <div class="card-header">
            Класс Object
          </div>
          <div class="card-body">
            <h5 class="card-title">Необходимо выполнить тест</h5>
            <p class="card-text">Тест состоит их 5 вопросов, для закрепления материала</p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeIrSOGL0nEloIFJDobacvPMx26LJQXvwddGAxJvYf16l5C1A/viewform?usp=sharing" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

        <div class="card mt-3">
          <div class="card-header">
            Переопределение методов
          </div>
          <div class="card-body">
            <h5 class="card-title">Необходимо выполнить тест</h5>
            <p class="card-text">Тест состоит их 5 вопросов, для закрепления материала</p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeIrSOGL0nEloIFJDobacvPMx26LJQXvwddGAxJvYf16l5C1A/viewform?usp=sharing" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>



{% endblock %}